
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --background1:#051114;
    --header:rgba(0, 0, 0, 0.74);
    --white:#FFF;
    --header-linescolor:rgba(255, 255, 255, 0.45);
}
body {
    font-family: Inter;
    background-color: var(--background1);
    color: #ffffff;
    overflow-x: hidden;
    width: 100vw;
}

.mainn{width: 100vw;overflow: hidden;}

.headerr {
    background-color: var(--header);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 111111111111;
    width: 100vw;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 46px;
    height: 100px;
    background-image: url(pic/pic1.png);
    width: 100%;
    background-size: cover;

}


.navbar2 {
    display: flex;
    list-style-type: none;

    justify-content: center;
    align-items: center;
    gap: 46px;}








.nav-link {
    text-decoration: none;
}
.nav-text {
  position: relative;
  color: var(--white);
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none; 
}


.nav-text::after {
  content: "";
  position: absolute;
  bottom: -2px; 
  right: 0;  
  width: 0;
  height: 2px;
  background-color: var(--white);
  transition: width 0.3s ease;
}


.nav-text:hover::after {
  width: 100%;
  left: 0;    
  right: auto;
}


.line-header{width: 1px;
height: 55.902px;
background-color: var(--header-linescolor);}










/* Mobile screen */
@media(max-width: 501px) {}


/* Tablet screen */
@media (min-width: 501px) and (max-width: 900px) {}

/* normal screen screen */
@media (min-width: 900px ) and (max-width: 1280px) {}