
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --background1:#051114;
    --header:rgba(0, 0, 0, 0.74);
    --header-burgermenu:rgba(0, 0, 0, 0.902);
    --white:#FFF;
    --header-linescolor:rgba(255, 255, 255, 0.45);
    --border-box-sec:rgba(255, 255, 255, 0.10);
    --white2:rgba(255, 255, 255, 0.97);
    --cta:#C6DE41;
    --ctahover:#41DEC4;
    --darkblue:#0C2E37;
    --scrolbar:#2D6C7B ;
   --gradient1: linear-gradient(0deg, #153B44 0%, #153B44 100%), 
             linear-gradient(180deg, rgba(0, 220, 255, 0) 0%, rgba(32, 121, 135, 0.07) 100%);
    
--border-color:rgba(255, 255, 255, 0.10);
--gradient-2:  linear-gradient(90deg, #28909C -11.7%, #002037 112.01%);
--bg2:#14292F;
--gradient3:linear-gradient(85deg, #C6DE41 -5.1%, #1CB4C8 104.47%);
;
--fadedblue:rgba(12, 46, 55, 0.80);
--fadedwhite:rgba(255, 255, 255, 0.80);
--bg3:#25444C;
--lastpart-footer:#051114;

--color1-car:#8A9604;
--color2-car:#033977;
--color3-car:#AA1717;
--design:#153B44;
--white2:#E2D5D5;
--line-sec2-p2:#2C5C67;
}



body {
    font-family: Inter;
    background-color: var(--background1);
    color: #ffffff;
    overflow-x: hidden;
    width: 100%;
}

.mainn{width: 100%;overflow: hidden;}

.headerr {
    background-color: var(--header);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 111111111111;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 46px;
    height: 100px;   
    background-image: url(pic/pic1.png);
    width: 100%;
    background-size: cover;

}


.navbar2 {
    display: flex;
    list-style-type: none;

    justify-content: center;
    align-items: center;
    width: 100%;
     padding: 0 7.9%;
gap: 74px;}








.nav-link {
    text-decoration: none;
}
.nav-text {
  position: relative;
  color: var(--white);
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none; 
}


.nav-text::after {
  content: "";
  position: absolute;
  bottom: -2px; 
  right: 0;  
  width: 0;
  height: 2px;
  background-color: var(--white);
  transition: width 0.3s ease;
}


.nav-text:hover::after {
  width: 100%;
  left: 0;    
  right: auto;
}


.line-header{width: 1px;
height: 55.902px;
background-color: var(--header-linescolor);}


.burger-menu-cont{display: none;
list-style-type: none;position: relative;}

.burger-menu{width: 34px;position: relative;
cursor: pointer;}

.dropdown-burger-menu{
list-style-type: none;
    width: 254px;
    height: fit-content;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 65px;
    background-color: var(--header-burgermenu);
    background-image: url(pic/pic3.png);
    background-size: cover;
    padding: 35px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 22px;display: none;
}

.dropdown-burger-menu.show {
  display: flex;
}
.nav-linkbg {
    text-decoration: none;
}
.nav-textbg {
  position: relative;
  color: var(--white);
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none; 
}


.nav-textbg::after {
  content: "";
  position: absolute;
  bottom: -2px; 
  right: 0;  
  width: 0;
  height: 2px;
  background-color: var(--white);
  transition: width 0.3s ease;
}


.nav-textbg:hover::after {
  width: 100%;
  left: 0;    
  right: auto;
}


.line-headerbg{width: 100%;
height: 1px;
background-color: var(--header-linescolor);}


.sec1{width: 100%;height: 100vh;
    background-size: cover;   min-height: 847px;
background-image: url(pic/pic4.png);
    }

.main-info-sec1{
    width: 100%;
    height: 100%;
    padding: 0 7.9% 0 7.9%;
    display: flex;
    justify-content: center;
    position: relative;
}

.container-all-info-sec1{
        max-width: 1280px;
    width: 100%;
        position: relative;display: flex;
    justify-content: center;
}





.header-sec1{
font-family: Syncopate;
font-size: 117.131px;
font-style: normal;
font-weight: 700;
line-height: normal;
background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.69) 36.06%, #4D5154 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
position: absolute;
align-self: center;
    top: 200px;}

.big-cont-sec1{display: flex;
flex-direction: row;
width: 100%;height: 100%;
justify-content: space-between;
padding-top: 214px;}


.right-box-sec1{position: relative;
    width: 70%;}


.container-model-one-sec1{width: 60%;
height: 100%;
    width: 100%;    transform: translatey(-8%);
    height: 100%;}


.model-one {
    width: 171%;
    height: 100%;position: relative;
     transform: translateX(-24%);
         width: clamp(120%, 171%, 200vw); 
    height: 100%;
   
}

.custom-ar-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-weight: bold;
  border: none;
  cursor: pointer;
  background-image: url(pic/ar_icon.png);
  background-position: center;
background-size: 80%;
  background-repeat: no-repeat;
}

.model-one .custom-ar-btn {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

/* .model-one::part( default-progress-bar ){
    display: none;

} */


.text-box-sec1{display: flex;
width: 353px;position: absolute;bottom: 72px;
height: 161px;
padding: 1px;
flex-direction: column;
border-radius: 25px;
border: 1px solid var(--border-box-sec);
background: linear-gradient(to bottom right, #071C21 0%, rgba(21, 59, 68, 0.43) 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, #071C21 0%, rgba(21, 59, 68, 0.43) 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, #071C21 0%, rgba(21, 59, 68, 0.43) 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, #071C21 0%, rgba(21, 59, 68, 0.43) 50%) top right / 50% 50% no-repeat;
padding: 0 23px 0 23px;
display: flex;
    justify-content:center;
    align-items: center;}


.main-text-box-sec1{width: 100%;
height: fit-content;
display: flex;
flex-direction: column;
gap: 30px;
justify-content: flex-start;
align-items: center;}


.title1-sec1{color: var(--white);
font-family: Inter;
font-size: 28px;height: 28px;
font-weight: 800;}


.sub-box-sec1{display: flex;
flex-direction: row;
gap: 30px;}


.numb-plus-text-sec1{
    display: flex;
    flex-direction: row;align-items: center;
    gap: 15px;
}


.numbs-sec1{color: var(--white2);
font-family: Inter;
font-size: 24px;
font-weight: 700;
line-height: normal;}


.small-titles-sec1{color: var(--white2);
font-family: Inter;
font-size: 18px;
font-weight: 400;;}

.rect-box-sec1{width: 1px;
height: 33.923px;
background: var(--white2);}


.left-box-sec1{align-self: flex-end;
display: flex;
flex-direction: column;
gap: 95px;padding-bottom: 72px;position: relative;
}



.cont-left-sec1{display: flex;
    flex-direction: column;
    gap: 45px;
}

.small-boxes-left-sec1{display: flex;
flex-direction: column;
gap: 10px;}

.small-title-left-sec1{color: var(--white);
text-align: right;
font-family: Inter;
font-size: 18px;
font-weight: 400;}

.big-numbers-left-sec1{color: var(--white);
text-align: right;
font-family: Inter;
font-size: 24px;
font-weight: 700;}

.cta-sec1{display: inline-flex;
height: 54px;
justify-content: center;
align-items: center;
gap: 10px;
padding: 18px 28px;width: 300px;
border-radius: 16px;
background: var(--cta);}

.cta-sec1:hover{background-color: var(--ctahover);}




.link-cta{text-decoration: none;
display: inline-flex;
height: 100%;width: 100%;
justify-content: center;
align-items: center;
gap: 10px;}

.cta-text{color: var(--darkblue);
font-family: Syncopate;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;}



::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--scrolbar);
}

::-webkit-scrollbar-thumb {
  background: var(--cta);
  border-radius: 10px;
}









.sec2{width: 100%;
    height: fit-content;
    background-image: url(pic/pic8.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;}

.container-sec2{    width: 100%;
    height: 100%;
    padding: 125px 7.9%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;}

.container2-sec2 {
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 84px;
}

.header-sec2{color: #FFF;
font-family: Syncopate;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 140%; /* 56px */}


.container-part2-sec2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;      
    gap: 47px 20px;        
    justify-content: flex-start;    gap: 20px 20px;
}

.main-card-sec2 {
        display: flex;
    flex: 1 1 0;
    min-width: 495px;
    flex-direction: column;
    gap: 34px;
    border-radius: 32px;
    background-image: var(--gradient1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    flex: 1 1 400px; 
    max-width: 100%; 
}


.main-card-sec2{display: flex;
width: 530px;
height: 466px;
padding-bottom: 30px;
flex-direction: column;
gap: 34px;
border-radius: 32px;
    background-image: var(--gradient1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;}

.main-card-sec2:hover{
box-shadow: -2px 4px 30.4px 0 #C6DE41;
}

.models-sec2{width: 100%;
 height: 591px;  position: relative;
}

.custom-ar-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-weight: bold;
  border: none;
  cursor: pointer;
  background-image: url(pic/ar_icon.png);
  background-position: center;
background-size: 80%;
  background-repeat: no-repeat;
}

.models-sec2 .custom-ar-btn {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}




.models-sec2::part( default-progress-bar ){
    display: none;

}




.model-container {
    width: 100%;
    aspect-ratio: 16/9; 
    border-radius: 25px;
    border: 1px solid var(--border-color);
    background: var(--gradient-2);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.cta-sec2{display: flex;
width: 74.636px;
height: 74.636px;
padding: 25px;
position: absolute;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 37.318px;
background: var(--cta);
top: 12px;
right: 12px;
outline: none;
border: transparent;}

.link-sec2{width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.cta-sec2:hover{background-color: var(--ctahover);}



.text-box-sec2{
    display: flex;
    flex-direction: column;
    gap: 29px;
    padding-left: 15px;
}

.title-sec2{color: var(--white);
font-family: Syncopate;
font-size: 24px;
font-weight: 700;
line-height: 140%;
}


.small-text-sec2{color: var(--white);
font-family: Inter;
font-size: 18px;
font-weight: 500;}


.sec3{width: 100%;
height: fit-content;
    background-image: url(pic/pic13.png);
    background-repeat: no-repeat;
    background-position: center 90%;}


.container-sec3 {
    width: 100%;
    height: 100%;
    padding: 125px 7.9%;
    display: flex;
    justify-content: center;
}

.container2-sec3 {
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.text-cont-sec3{display: flex;
flex-direction: column;
justify-content: center;
gap: 38px;width: 80%;
}

.header-sec3{color: var(--white);
text-align: center;
font-family: Syncopate;
font-size: 40px;
font-weight: 700;}


.para-sec3{
color: var(--white);
text-align: center;
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 140%; /* 25.2px */
    display: -webkit-box;
    display: box;
    display: flexbox;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;}




.container-model-sec3{
width:66%;
aspect-ratio: 754.11/526.37;
}



.model-sec3{    width: 133%;
    position: relative;
  left: -17%;
    position: relative;
    height: 100%;}

.Hotspot-1 {
    position: absolute;
    width: 27px;           
    height: 27px;
    background: var(--gradient-2); 
    border-radius: 50%;   
    border: 2px solid var(--border-color); 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    left: -40px;
}


.HotspotAnnotation-1 {
    position: absolute;
    bottom: 26px;         
    left: 537%;
    transform: translateX(-50%);
    background:var(--gradient-2);
    color: var(--white);
    font-family: Inter;
    border-radius: 25px;font-weight: 600;
    font-size: 28px;height: 60px;
    display: flex;
    justify-content: center;align-items: center;
    pointer-events: none;
    width: 189px;
 
}

.HotspotPara-1{display: block; 
    position: absolute;
    padding: 20px;
    font-size: 14px;
    color: white;
    text-align: center;  top:68px ;   
    background:var(--gradient-2);
    color: var(--white);width: 189px;
        font-family: Inter; height: fit-content;
    border-radius: 25px;font-weight: 600;
    font-size: 28px;}


.para1-hot-spots{color: var(--white);
text-align: center;
font-family: Inter;
font-size: 18px;
font-weight: 400;
    display: -webkit-box;
    display: box;
    display: flexbox;
    line-clamp: 5;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis}
























.Hotspot-2 {
    position: absolute;
    width: 27px;           
    height: 27px;
    background: var(--gradient-2); 
    border-radius: 50%;   
    border: 2px solid var(--border-color); 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 69px;
    bottom: -48px;
}

.HotspotAnnotation-2 {
    position: absolute;
     bottom: 70px;        
    left: -538%;
    transform: translateX(-50%);
    background:var(--gradient-2);
    color: var(--white);
    font-family: Inter;
    border-radius: 25px;font-weight: 600;
    font-size: 28px;height: 60px;
    display: flex;
    justify-content: center;align-items: center;
    pointer-events: none;
    width: 226px;
 
}



.HotspotPara-2{display: block; 
    margin-top: 5px;
    font-size: 14px;position: absolute;
    color: white;
    text-align: center;  top:68px ; 
    background:var(--gradient-2);
    color: var(--white);
        font-family: Inter; width: 226px;height: fit-content;
    border-radius: 25px;font-weight: 600;
    font-size: 28px;}

.HotspotPara-2{display: block; 
    position: absolute;
    padding: 20px;
    font-size: 14px;
    color: white;
    text-align: center;  top:68px ;   
    background:var(--gradient-2);
    color: var(--white);width: 226px;
        font-family: Inter; height: fit-content;
    border-radius: 25px;font-weight: 600;
    font-size: 28px;}


.para2-hot-spots{color: var(--white);
text-align: center;
font-family: Inter;
font-size: 18px;
font-weight: 400;
    display: -webkit-box;
    display: box;
    display: flexbox;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis}

















.Hotspot-3 {
    position: absolute;
    width: 27px;        
    height: 27px;
    background: var(--gradient-2); 
    border-radius: 50%;   
    border: 2px solid var(--border-color); 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -134px;
}

.HotspotAnnotation-3 {
    position: absolute;
    bottom: 30px;        
    left: 183%;
    background:var(--gradient-2);
    color: var(--white);right: -61px;
    font-family: Inter;
    border-radius: 25px;font-weight: 600;
    font-size: 28px;height: 60px;
    display: flex;
    justify-content: center;align-items: center;
   
    pointer-events: none;width: 189px;
 
}
.names-hts{    color: var(--white);
    font-family: Inter;
    font-weight: 600;
    font-size: 28px;}




.HotspotPara-3{display: block; 
    position: absolute;
    padding: 20px;
    font-size: 14px;
    color: white;
    text-align: center;  top:68px ;   
    background:var(--gradient-2);
    color: var(--white);width: 189px;
        font-family: Inter; height: fit-content;
    border-radius: 25px;font-weight: 600;
    font-size: 28px;}


.para-hot-spots{color: var(--white);
text-align: center;
font-family: Inter;
font-size: 18px;
font-weight: 400;
    display: -webkit-box;
    display: box;
    display: flexbox;
    line-clamp: 5;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis}







.cta-sec3{display: inline-flex;
height: 54px;
justify-content: center;margin-top: 129px;
align-items: center;
gap: 10px;
padding: 18px 28px;width: 313px;
border-radius: 16px;
background: var(--cta);
transition: all 300ms linear;}

.cta-sec3:hover{background-color: var(--ctahover);}




.link3-cta{text-decoration: none;
display: inline-flex;
height: 100%;width: 100%;
justify-content: center;
align-items: center;
gap: 10px;}

.cta-text3{color: var(--darkblue);
font-family: Syncopate;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;}




.sec4 {
  width: 100%;
  height: 127.138px;
  background-color: var(--bg2);
  overflow: hidden; 
  display: flex;
  align-items: center;
}

.marquee {
  display: flex;
  width: max-content;
}

.container-imgs-sec4 {
  display: flex;
  gap: 40px;
  align-items: center;
  padding-right: 40px;
}


.img1-sec4{width: 78.577px;
height: 78.577px;
aspect-ratio: 78.58/78.58;}

.img2-sec4{width: 100.226px;
height: 65.542px;
aspect-ratio: 100.23/65.54;}

.img3-sec4{width: 102.299px;
height: 102.299px;
aspect-ratio: 102.30/102.30;}

.img4-sec4{width: 102.785px;
height: 75.533px;
aspect-ratio: 102.79/75.53;}


.img5-sec4{width: 139.692px;
height: 78.577px;
aspect-ratio: 139.69/78.58;}

.img6-sec4{width: 78.577px;
height: 78.577px;
aspect-ratio: 78.58/78.58;}


.img7-sec4{width: 96.047px;
height: 78.577px;
aspect-ratio: 96.05/78.58;}


.img8-sec4{width: 98.733px;
height: 84.511px;
aspect-ratio: 98.73/84.51;}



.container-imgs-sec4 {
  display: flex;
  gap: 40px; 

}

.sec5 {
    width: 100%;
    height: fit-content;}


.container-sec5 {
    width: 100%;
    height: 100%;
    padding: 125px 7.9%;
    display: flex;
    justify-content: center;

}

.header-sec5{color: var(--white);
font-family: Syncopate;
font-size: 40px;
font-weight: 700;
line-height: 140%; /* 56px */}

.container-sec5-cards{display: flex;
flex-direction: column;
gap: 20px;}

.row-sec5-cards{    display: flex;
    flex-wrap: wrap; height: fit-content;
    gap: 20px;
}

.row2-sec5-cards{    display: flex;
    flex-wrap: wrap; height: fit-content;
    gap: 20px;
}


.card-sec5-1{
    flex: 1 1 0;  
    min-width: 495px;  
    height: fit-content;
height: 100%;
background: var(--gradient3);
border-radius: 25px;
border: 2px solid var(--border-color);
display: flex;
flex-direction: column;
gap: 34px;
padding: 46px 44px 46px 44px;
transition: all 300ms linear;
}

.card-sec5-1:hover{
box-shadow: -2px 4px 30.4px 0 #C6DE41;
}

.card-sec5-2{
    flex: 1 1 0; 
    min-width: 375px; 
    max-width: 436px; 
    background: var(--gradient-2);
border-radius: 25px;
border: 2px solid var(--border-color);
display: flex;
flex-direction: column;
gap: 34px;
padding: 46px 30px 46px 30px;
transition: all 300ms linear;
}

.card-sec5-2:hover{
box-shadow: -2px 4px 30.4px 0 #C6DE41;
}



.sub-box1-sec5{display: flex;
    flex-direction: column;
    gap: 24px;
}

.title-card5{display: flex;
flex-direction: row;    align-items: center;
gap: 15px;}


.title-main-card-sec5{color: var(--darkblue);
font-family: Syncopate;
font-size: 24px;
font-weight: 700;
line-height: 140%; /* 33.6px */}

.title2-main-card-sec5{color: var(--white);
font-family: Syncopate;
font-size: 24px;
font-weight: 700;
line-height: 140%; /* 33.6px */}


.para-sec5{
color: var(--fadedblue);
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 140%; /* 25.2px */
    display: -webkit-box;
    display: box;
    display: flexbox;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis}

.para2-sec5{
color: var(--fadedwhite);
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 140%; /* 25.2px */
    display: -webkit-box;
    display: box;
    display: flexbox;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis}





.link-sec5{text-decoration: none;
display: flex;
flex-direction: row;
gap: 6px;
align-items: center;}

.readmore-sec5{color: var(--darkblue);
font-family: Inter;
font-size: 18px;
font-weight: 700;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: auto;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;}

.readmore2-sec5{color: var(--white);
font-family: Inter;
font-size: 18px;
font-weight: 700;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: auto;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;}

.main-cont-sec5{max-width: 1280px;
    width: 100%;height: fit-content;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;gap: 84px;}


.sec6{width: 100%;
height: fit-content;
background-image: url(pic/pic28.png);
    background-size: cover;
    background-position: top;border-radius: 246px;
    background-repeat: no-repeat;}


.container-sec6 {
    width: 100%;
    height: 100%;
    padding: 199px 7.9% 125px 7.9%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}


.container2-sec6 {
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
}

.header-sec6{color: var(--white);
text-align: center;
font-family: Syncopate;
font-size: 40px;
font-weight: 700;
line-height: 140%; /* 56px */}


.first-box-container{width: 100%;height: 400px;position: relative;
    display: flex;}



.first-box-sec6{width: 100%;
aspect-ratio: 33 / 9;
position: relative;z-index: 11;
display: flex;align-self: end;
    align-items: flex-end;}


.sec-box-sec6{width: 100%;
aspect-ratio: 32 / 10;z-index: 11;
position: relative;justify-content: end;
display: flex;align-self: end;
    align-items: flex-end;}





.containermodel-1-sec6{
    width: 80%;
height: 100%;position: relative;z-index: 1;
}

.model-1-sec6{width: 100%;height: 100%;}


.text-box-1-sec6{display: flex;
width: 411.206px;
height: 243px;
padding: 61px 30px 0 30px;
align-items: flex-start;
    background: var(--gradient-2);
    border-radius: 25px;
    border: 2px solid var(--border-color);
    display: flex;
    flex-direction: column;
    gap: 24px;
position: absolute;
right: 0;
top: 0;}


.text-box-2-sec6{display: flex;
width: 411.206px;
height: 243px;
padding: 61px 30px 0 30px;
align-items: flex-start;
    background: var(--gradient-2);
    border-radius: 25px;
    border: 2px solid var(--border-color);
    display: flex;
    flex-direction: column;
    gap: 24px;
position: absolute;
left: 0;
top: 0;}

.text-box-2-sec6:hover{
box-shadow: -2px 4px 30.4px 0 #C6DE41;
}
.text-box-1-sec6:hover{
box-shadow: -2px 4px 30.4px 0 #C6DE41;
}








.title-sec6{color: var(--white);
font-family: Syncopate;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 140%; /* 33.6px */}



.para-sec6{
color: var(--white);
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 140%; 
    display: -webkit-box;
    display: box;
    display: flexbox;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis}

.navigation1-sec6{display: flex;
width: 59.323px;position: absolute;
height: 59.323px;top: 14px;right: 14px;
background-color: var(--cta);border-radius: 29.661px;
align-items: center;justify-content: center;
transition: all 200ms linear;z-index: 111;
gap: 7.948px;
flex-shrink: 0;}


.navigation1-sec6:hover{background-color: var(--ctahover);}


.navigation0-sec6{display: flex;
width: 59.323px;position: absolute;
height: 59.323px;top: 14px;right: 14px;
background-color: var(--cta);border-radius: 29.661px;
align-items: center;justify-content: center;
transition: all 200ms linear;z-index: 111;
gap: 7.948px;
flex-shrink: 0;}


.navigation0-sec6:hover{background-color: var(--ctahover);}






.navigation2-sec6{display: flex;z-index: 11;
width: 59.323px;position: absolute;
height: 59.323px;top: 14px;left: 336.21px;
background-color: var(--cta);border-radius: 29.661px;
align-items: center;justify-content: center;
transition: all 200ms linear;
gap: 7.948px;
flex-shrink: 0;}


.navigation2-sec6:hover{background-color: var(--ctahover);}





.link-sec6{width: 100%;height: 100%;
display: flex;
justify-content: center;
align-items: center;
}


.sec7{width: 100%;
height: fit-content;}


.container-sec7 {
    width: 100%;
    height: 100%;
    padding: 125px 7.9% ;
    box-sizing: border-box;
    display: flex;
    justify-content: center;position: relative;
}


.container2-sec7 {
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 100px;
}


.header-sec7{color: var(--white);
font-family: Syncopate;
font-size: 40px;
font-weight: 700;}


.row-sec7{
    display: flex;
    flex-wrap: wrap;       
    gap: 20px;
    justify-content: flex-start;
  align-items: stretch;  
}


.box1-sec7{
    flex: 1 1 315px;      
  
  height: fit-content;

    background: var(--gradient-2);
    border-radius: 25px;
    border: 2px solid var(--border-color);
    padding: 34px 24px;
    display: flex;
    flex-direction: column;transition: 300ms all linear;
    gap: 22px;
}


.sub-row-sec7{display: flex;
align-items: center;flex-direction: row;
gap: 19px;}

.name-sec7{color: var(--white);
font-family: Syncopate;
font-size: 20px;
font-weight: 700;
line-height: 140%; /* 28px */}


.para-sec7{
color: var(--white);
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 140%; 
   display: -webkit-box;
    display: box;
    display: flexbox;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis}



.box2-sec7{
    flex: 1 1 315px;      
 
height: fit-content;
      background: var(--gradient3);
    border-radius: 25px;
    border: 2px solid var(--border-color);
    padding: 34px 24px;
    display: flex;
    flex-direction: column;transition: 300ms all linear;
    gap: 22px;
}



.name2-sec7{color: var(--darkblue);
font-family: Syncopate;
font-size: 20px;
font-weight: 700;
line-height: 140%; /* 28px */}


.sub-cont-para-sec7{display: flex;
    flex-direction: column;
    gap: 34px;
}


.para2-sec7{
color: var(--darkblue);
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 150%; 
   display: -webkit-box;
    display: box;
    display: flexbox;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis}


.box3-sec7{
      flex: 1 1 315px;      
 
height: fit-content;
    background: var(--gradient-2);
    border-radius: 25px;
    border: 2px solid var(--border-color);
    padding: 34px 24px;
    display: flex;
    flex-direction: column;
    gap: 22px;
        justify-content: flex-end;
        margin-top: auto;transition: 300ms all linear;
}

.box3-sec7:hover {
    box-shadow: -2px 4px 30.4px 0 #C6DE41;
}


.box2-sec7:hover {
    box-shadow: -2px 4px 30.4px 0 #C6DE41;
}

.box1-sec7:hover {
    box-shadow: -2px 4px 30.4px 0 #C6DE41;
}







.cards-wrapper {
    display: flex;
    flex-wrap: wrap;            
    gap: 20px;
    justify-content: space-between;
    max-width: 100%;           
      align-items: stretch;
}



.pic1-sec7{position: absolute;
    right: 0;
    top: 254px;
    z-index: -1;
}
.pic2-sec7{position: absolute;
    left: 0;
    bottom: 144px;
    z-index: -1;}








.footerr{width: 100%;
height: fit-content;border-radius: 100px;
   background-image: url(pic/pic35.png);
    background-size: cover;
    background-position: top;

    display: flex;
    flex-direction: column;
    gap: 88px;
    background-repeat: no-repeat;}

.container-footer {
    width: 100%;
    height: 100%;
    padding: 125px 7.9% 0;
    box-sizing: border-box;
    display: flex;flex-direction: column;
    gap: 67px;align-items: center;
    justify-content: flex-start;
    position: relative;}


.logo-footer{
    width: 303.06px;
    height: 37px;
}


.big-nav-box-footer{    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 46px;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;}


.list-footer{list-style-type: none;
display: flex;
flex-direction: column;
gap: 40px;}


.link-footer{text-decoration: none;}

.title-footer{color: var(--white);
font-family: Inter;
font-size: 24px;
font-weight: 700;}



.sub-list-footer{list-style-type: none;
display: flex;
flex-direction: column;
gap: 20px;}


.small-navs{color: var(--fadedwhite);
font-family: Inter;display: inline-block;
font-size: 18px;
font-weight: 500;line-height: 140%;
position: relative;}

.small-navs::after {
  content: "";
  position: absolute;
  bottom: -2px; 
  right: 0;  
  width: 0;
  height: 2px;
  background-color: var(--fadedwhite);
  transition: width 0.3s ease;
}


.small-navs:hover::after {
  width: 100%;
  left: 0;    
  right: auto;
}




.last-part-footer{width: 100%;
height: 84.855px;
background: var(--lastpart-footer);
display: flex;
flex-direction: column;justify-content: center;
    align-items: center;
gap: 12px;}

.small-last-list-footer{display: flex;
    flex-direction: row;
    gap: 11px;
    list-style-type: none;justify-content: center;
    align-items: center;
}

.small-footer-list-text{color: var(--white);
font-family: Inter;cursor: pointer;
font-size: 14px;
font-weight: 400;}


.white-small-rect-footer{width: 1px;
height: 13.503px;
background-color: var(--white);}


.verysmall-text-footer{color: var(--white);
text-align: center;
font-family: Inter;
font-size: 10px;
font-style: normal;
font-weight: 200;
line-height: 150%; /* 15px */}







/* page2 */

.sec1-p2 {
    width: 100%;
    height: 100vh;
    background-image: url(pic/pic37.png);
    background-size: cover;
}


.main-info-sec1-p2 {
    width: 100%;
    height: 100%;
    padding: 0 7.9% 0 7.9%;
    display: flex;
    justify-content: center;
    position: relative;
}


.container-all-info-sec1-p2 {
    max-width: 1280px;
    width: 100%;
    position: relative;

}


.text-box-sec1-p2{
    display: flex;    width: 63%;
    flex-direction: column;
    margin-top: 267.85px;
    gap: 64px;position: relative;z-index: 4;
}

.header-sec1-p2{
font-family: Syncopate;
font-size: 64.95px;
font-weight: 700;
background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.69) 36.06%, #4D5154 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;}


.second-sub-box-sec1-p2{display: flex;
flex-direction: column;
gap: 24px;}

.row-1-sec1-p2{display: flex;
    flex-direction: row;align-items: center;
    gap: 13px;
}


.main-features-div{display: flex;
    flex-direction: row;align-items: center;
    gap: 12px;
}

.subheader-sec1-p2{
    color: var(--white);
font-family: Inter;
font-size: 24px;
font-weight: 700;
line-height: 140%; /* 33.6px */
}


.text-feature-sec1-p2{color: var(--white);
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 140%; /* 25.2px */}


.small-rect-sec1-p2{width: 1px;
height: 16.076px;
background-color: var(--white);}


.colors-cont-sec1-p2{display: flex;
flex-direction: row;
gap: 12px;
align-items: center;}

.color1-p2{
    
    width: 55.111px;
height: 25.452px;
    border-radius: 25px;cursor: pointer;
border: 0.6px solid var(--white);
background: var(--color1-car);}

.color2-p2{
    
    width: 55.111px;
height: 25.452px;
    border-radius: 25px;cursor: pointer;
border: 0.6px solid var(--white);
background: var(--color2-car);}

.color3-p2{
    
    width: 55.111px;
height: 25.452px;
    border-radius: 25px;cursor: pointer;
border: 0.6px solid var(--white);
background: var(--color3-car);}


.container-third-box-sec1-p2{
    display: flex;
width: 347px;
padding: 28px 28.383px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 20px;
border-radius: 22.889px;
border: 0.916px solid rgba(255, 255, 255, 0.10);
background: linear-gradient(to bottom right, #071C21 0%, rgba(21, 59, 68, 0.43) 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, #071C21 0%, rgba(21, 59, 68, 0.43) 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, #071C21 0%, rgba(21, 59, 68, 0.43) 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, #071C21 0%, rgba(21, 59, 68, 0.43) 50%) top right / 50% 50% no-repeat;
}

.price-sec1-p2{color: var(--white);
text-align: center;
font-family: Inter;
font-size: 34px;
font-weight: 700;}





.cta-sec1-p2{display: inline-flex;
height: 54px;
justify-content: center;
align-items: center;border-color: transparent;
gap: 10px;
padding: 18px 28px;width: 251px;
border-radius: 14px;
background: var(--cta);
transition: all 300ms linear;}

.cta-sec1-p2:hover{background-color: var(--ctahover);}




.linksec1-p2-cta{text-decoration: none;
display: inline-flex;
height: 100%;width: 100%;
justify-content: center;
align-items: center;
gap: 10px;}

.cta-text-sec1-p2{color: var(--darkblue);
font-family: Syncopate;
font-size: 18px;
font-weight: 700;
line-height: normal;}



.left-box-sec1-p2{
position: absolute;
    right: 0;
    bottom: 18%;
    width: 37%;
    height: 606.009px;
    aspect-ratio: 1364.58 / 606.01;
    border-radius: 82px 0 0 82px;
    background-color: var(--design);
    background-image: url(pic/pic38.png);
}



.model-one-p2 .custom-ar-btn {
  position: absolute;
  top: 70%;    top: -14px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}



.model-one-p2 {
width: 148%;
    height: 100%;
    position: absolute;
right: -38%;

    height: 102%;
   
}


.containermodel-sec1-p2 {
    width: 139%;
    height: 119%;
    position: absolute;
    right: 0;
    z-index: 1;
}




.sec1-p2 {
    min-height: 893px;
}



.sec2-p2{height: 225.818px;
width: 100%;
background-color: var(--bg2);
display: flex;
justify-content: center;
align-items: center;}

.container-sec2-p2 {
    width: 100%;
    height: 100%;
    padding: 0 7.9%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}


.container2-sec2-p2 {
    max-width: 1280px;
    width: 100%;
display: flex;gap: 32px;
align-items: center;
justify-content: center;}



.box1-sec2-p2{display: flex;
flex-direction: column;width: 32%;
gap: 25px;}


.numbers-sec2-p2{color: var(--white);
text-align: center;
font-family: Syncopate;
font-size: 40px;
font-weight: 700;
line-height: 120%; /* 48px */}


.para-sec2-p2{
color: var(--white2);
text-align: center;
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 140%; /* 25.2px */
 display: -webkit-box;
    display: box;
    display: flexbox;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis}


.line-sec2{width: 1px;
height: 78.438px;
background: var(--line-sec2-p2);}
























/* Mobile screen */
@media(max-width: 501px) {
.burger-menu-cont{
    display: block;
}

.nav-text{display: none;}
.line-header{display: none;}
.navbar2 {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;}

.nav-link{display: none;}
.navbar2 {
     padding: 0 20px;}



.header-sec1 {
    font-size: clamp(20px, 9vw, 40px);
}
 
    .model-one {
                      width: clamp(140%, 290vw, 340%);
        
    }

    
.sec1 {
            background-image: url(pic/pic7.png);
       min-height: 873px;
              background-position: center -170px;
        background-size: auto;
        background-repeat: no-repeat;
}

.big-cont-sec1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-top: 214px;
}

.cont-left-sec1 {
    display: flex;
    flex-direction: row;}

.container-model-one-sec1 {
    width: 60%;
    height: 100%;
    width: 100%;
        transform: translatey(4%);
    height: 562px;
}


.right-box-sec1 {
    position: relative;
    width: 100%;
    height: 500px;
}



    .model-one {
        /* scale: 0; */
     transform: translateX(-18%);
        height: 299px;
    }

    .model-one {
                width: 148%;
    }

.left-box-sec1 {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 34px;
    padding-bottom: 80px;
    position: relative;
}

.text-box-sec1 {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 26px;
    padding: 30px 0;
    height: fit-content;
    padding: 30px 23px 30px 23px;
    display: flex;
    justify-content: center;
    align-items: center;}

.numbs-sec1 {
    color: var(--white2);
    font-family: Inter;
    font-size: 20px;}

.small-titles-sec1 {
    font-size: 16px;}


.main-text-box-sec1 {
    align-items: flex-start;
    gap: 20px;
}

.small-title-left-sec1 {
    text-align: left;
font-size: 16px;}

.big-numbers-left-sec1 {
    font-size: 20px;
    font-weight: 700;}

.cta-sec1 {
    display: inline-flex;
    height: 52px;}


.cta-text {
    font-size: 16px;}

.title1-sec1 {
    color: var(--white);
    font-family: Inter;
    font-size: 28px;
    height: fit-content;}


.container-sec2 {
        width: 100%;
        height: 100%;
              padding: 100px 20px 153px;}

.container2-sec2 {
    max-width: 100%;
    width: 100%;}

.container-part2-sec2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 47px 38px;}

.sec2{width: 100%;
    height: fit-content;
    background-image: url(pic/pic12.png);}


.container2-sec2 {
    gap: 64px;
}


.main-card-sec2 {
    display: flex;min-width: 0;
    height: fit-content;}



.header-sec2 {
    color: #FFF;
    font-family: Syncopate;
    font-size: 34px;}


.title-sec2 {
    color: var(--white);
    font-family: Syncopate;
    font-size: 20px;}


.small-text-sec2 {
    color: var(--white);
    font-family: Inter;
    font-size: 16px;
}

.text-box-sec2 {
    display: flex;
    flex-direction: column;
    gap: 14px;}


.main-card-sec2 {
    gap: 24px;}

.cta-sec2 {        width: 60px;
        height: 60px;}



.container-model-sec3 {
    width: 100%;}

.container-sec3 {
    width: 100%;
    height: 100%;
    padding: 100px 20px;}


.container2-sec3 {
    max-width: 100%;
    width: 100%;}


.HotspotAnnotation-2 {
    position: absolute;
    bottom: 70px;}


.HotspotAnnotation-2 {
    position: absolute;
    bottom: 70px;

}


.para2-hot-spots {
    color: var(--white);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    display: -webkit-box;
    display: box;
    display: flexbox;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;}


.para1-hot-spots{    line-clamp: 3;
    -webkit-line-clamp: 3;}

.para-hot-spots{    line-clamp: 3;
    -webkit-line-clamp: 3;}


.names-hts{font-size: 18px;}

.HotspotAnnotation-2{width: 141px;height: 43px;left: -204%;}

.HotspotAnnotation-3{width: 114px;height: 43px;left: 138%;bottom: 51px;}


.HotspotAnnotation-1 {width: 113px;height: 43px;left: 310%;}


.Hotspot-1{width: 37px;height: 37px;left: -98px;
        bottom: -3px;}
.Hotspot-2{width: 37px;height: 37px;
right: 17px;
    bottom: -31px;}
.Hotspot-3{width: 37px;height: 37px;right: -67px;}
.para1-hot-spots{font-size: 16px;}
.para2-hot-spots{font-size: 16px;}
.para3-hot-spots{font-size: 16px;}



.HotspotPara-1{padding: 14px;width: 113px; top: 54px;}
.HotspotPara-2{padding: 14px;top: 54px;width: 141px;}
.HotspotPara-3{padding: 14px;top:54px;width: 113px;}

.model-sec3 {
    width: 100%;
    position: relative;left: 0;
    height:110%;
}
.header-sec3 {
    color: var(--white);
    text-align: center;
    font-family: Syncopate;
    font-size: 34px;}




.para-sec3 {
    color: var(--white);
    text-align: center;
    font-family: Inter;
    font-size: 16px;}

.text-cont-sec3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 38px;
    width: 100%;
}


.cta-sec3 {
    display: inline-flex;
    height: 52px;}

.cta-text3 {
    color: var(--darkblue);
    font-family: Syncopate;
    font-size: 16px;
}
.sec3 {
    width: 100%;
    height: fit-content;
    background-image: url(pic/pic14.png);}






.main-cont-sec5 {
    max-width: 100%;
    width: 100%;}

.container-sec5 {
    width: 100%;
    height: 100%;
    padding: 100px 20px;}

.card-sec5-2{
    flex: 1 1 0; 
    min-width: 375px; 
    max-width: 100%; }

.card-sec5-1 {min-width: 0;
    flex: 1.4 1 0;}
.row-sec5-cards {
gap: 30px;flex-direction: column;
   
}

.row2-sec5-cards {
gap: 30px;
    flex-direction: column-reverse;
}
.container-sec5-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;}



.main-cont-sec5 {
    gap: 68px;
}

.header-sec5 {
    font-size: 34px;}




.card-sec5-1 {
    padding: 46px 26px 46px 26px}


.title-main-card-sec5{font-size: 20px;}

.title2-main-card-sec5{font-size: 20px;}


.para-sec5{font-size: 16px;}

.para2-sec5{font-size: 16px;}

.readmore-sec5{font-size: 16px;}

.readmore2-sec5{font-size: 16px;}



.container-sec6 {
    width: 100%;
    height: 100%;
    padding: 173px 20px 100px 20px;}


.containermodel-1-sec6 {
        width: 104%;
        height: 122%;
    }

.container2-sec6 {
    max-width: 100%;    gap: 60px;}

.first-box-container {
    width: 100%;
         height: 320px;}

.first-box-sec6 {
    width: 100%;
    aspect-ratio: 32 / 9;}

.sec-box-sec6 {
    width: 100%;
    aspect-ratio: 31 / 10;}


.header-sec6 {
    font-size: 34px;}


.text-box-1-sec6 {
    display: flex;
    width: 91%;
    height: 194.43px;
    padding: 50px 26px 0 26px;
    align-items: flex-start;
    background: var(--gradient-2);
    border-radius: 25px;
    border: 2px solid var(--border-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    right: 0;
    top: 0;
}

.text-box-2-sec6 {
    display: flex;
    width: 91%;
    height: 194.43px;
    padding: 50px 26px 0 26px;
    align-items: flex-start;
    background: var(--gradient-2);
    border-radius: 25px;
    border: 2px solid var(--border-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    left: 0;
    top: 0;
}


.title-sec6 {
    font-size: 20px;}

.para-sec6 {
    color: var(--white);
    font-family: Inter;
    font-size: 16px;}





.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
   
    flex-direction: column;}

.container2-sec7 {
    max-width: 100%;gap: 70px;
    width: 100%;}

.box3-sec7 {
    flex: 100;}
.box2-sec7 {
    flex: 100;}
.box1-sec7 {
    flex: 100;}

.container-sec7 {
    padding: 100px 20px;}

.header-sec7{font-size: 34px;}


.para-sec7{font-size: 16px;}
.para2-sec7{font-size: 16px;}



.sec6 {

    border-radius: 33px;
}

.pic2-sec7 {
    width: 100%;}

.pic1-sec7 {
    width: 100%;}


.container-footer {
    width: 100%;
    height: 100%;
           padding: 66px 7.3% 0;}


.big-nav-box-footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 74px;
    align-items: center;}

.list-footer {    gap: 28px;
    align-items: center}

.sub-list-footer {
    align-items: center;}

.logo-footer {
    width: 237px;
    height: auto;
}

.title-footer {
    font-size: 22px;}


.small-navs {
    font-size: 16px;
}



    .model-one-p2 {
        width: 178%;
        position: absolute;
        right: -59%;
        height: auto;
        aspect-ratio: 1056 / 735;
    }

.containermodel-sec1-p2 {
    width: 139%;
    height: 119%;
    position: absolute;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: flex-end;
}

.left-box-sec1-p2 {
   bottom: 8%;        width: 53%;

    aspect-ratio: 465 / 606.009;
    height: auto;        top: auto;
}


.text-box-sec1-p2 {
        display: flex;
        margin-top: 170px;
        width: 98%;
          gap: 35px;
    }

.container-third-box-sec1-p2 {
    display: flex;
            width: fit-content;}


.header-sec1-p2 {
        font-family: Syncopate;
        font-size: clamp(32px, 9vw, 40px);
    
}

.main-info-sec1-p2 {
    width: 100%;
    height: 100%;
    padding: 0 20px 0 20px;}


.container-third-box-sec1-p2 {
    width: clamp(260px, 35vw, 347px);
    padding: clamp(20px, 2vw, 28px);
    gap: clamp(12px, 2vw, 20px);
    border-radius: clamp(14px, 2vw, 22.889px);
}



.price-sec1-p2 {
          font-size: 24px;
}

.cta-sec1-p2 {
    width: clamp(200px, 28vw, 251px);
    height: clamp(52px, 6vw, 54px);
}


.sec1-p2 {
    width: 100%;
    height: 100vh;
    min-height: 900px;}

.subheader-sec1-p2 {
    font-size: 20px;
}
.text-feature-sec1-p2 {
    font-size: 16px;}


.second-sub-box-sec1-p2 {
    gap: 20px;
}


.cta-text-sec1-p2 {
    font-size: 16px;}




.sec2-p2 {
    height: fit-content;
}


.container-sec2-p2 {
    width: 100%;
    height: 100%;
    padding: 88px 20px}


.container2-sec2-p2 {
    flex-direction: column;}

.box1-sec2-p2 {
    display: flex;gap: 15px;
    flex-direction: column;
    width: 100%;}

.para-sec2-p2 {
    color: var(--white2);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    display: -webkit-box;
    display: box;
    display: flexbox;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.line-sec2 {
    width: 100%;
    height: 1px;
    background: var(--line-sec2-p2);
}

.numbers-sec2-p2 {
    font-size: 34px;
}


    .para-sec2-p2 {
        font-size: 16px;}











}




























/* Tablet screen */
@media (min-width: 501px) and (max-width: 900px) {

.burger-menu-cont{
    display: block;
}

.nav-text{display: none;}
.line-header{display: none;}
.navbar2 {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;}

.nav-link{display: none;}
.navbar2 {
     padding: 0 7.3%;}


.main-info-sec1 { padding: 0 7.3%;}
.container-all-info-sec1 {
    max-width: 100%;
    width: 100%;}

.header-sec1 {
    font-size: clamp(40px, 9vw, 80px);
}
 
    .model-one {
                      width: clamp(140%, 290vw, 340%);
        
    }


      .model-one {
                   scale: 0.5;
         transform: translateX(-60%);
    
    
  }
    
.sec1 {
            background-image: url(pic/pic7.png);
       min-height: 847px;
        background-position: center -100px;
        background-size: auto;
        background-repeat: no-repeat;
}


.big-cont-sec1 {
    padding-top: 100px;}


.cont-left-sec1 {
    display: flex;
    flex-direction: column;
    gap: 28px;}


.left-box-sec1 {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 95px;z-index: 11;
    padding-bottom: 66px;}

.text-box-sec1 {
    display: flex;
    width: 353px;
    position: absolute;
    bottom: 148px;}


.cta-sec1 {
    display: inline-flex;
    height: 54px;width: 353px;
    justify-content: center;
    position: absolute;left: 0;
    bottom: 66px;
}

.left-box-sec1{position: static;}

.container-model-one-sec1 {
    transform: translatey(-10%);}


.container-sec2 {
        width: 100%;
        height: 100%;
        padding: 125px 7.3% 246px;}

.container2-sec2 {
    max-width: 100%;
    width: 100%;}

.container-part2-sec2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 38px 47px;}

.sec2{width: 100%;
    height: fit-content;
    background-image: url(pic/pic11.png);}


.container2-sec2 {
    gap: 74px;
}
.main-card-sec2 {
    display: flex;min-width: 0;
    height: fit-content;}


.container-model-sec3 {
    width: 100%;}

.container-sec3 {
    width: 100%;
    height: 100%;
    padding: 125px 7.3%;}


.container2-sec3 {
    max-width: 100%;
    width: 100%;}


.HotspotAnnotation-2 {
    position: absolute;
    bottom: 70px;}


.HotspotAnnotation-2 {
    position: absolute;
    bottom: 70px;

}


.para2-hot-spots {
    color: var(--white);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    display: -webkit-box;
    display: box;
    display: flexbox;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;}


.para1-hot-spots{    line-clamp: 2;
    -webkit-line-clamp: 2;}

.para-hot-spots{    line-clamp: 2;
    -webkit-line-clamp: 2;}

.container-model-sec3{min-width: 562px;}


.sec3 {
    width: 100%;
    height: fit-content;
    background-image: url(pic/pic15.png);}




.HotspotAnnotation-2{height: 60px;}

.HotspotAnnotation-3{height: 60px;}


.HotspotAnnotation-1 {height: 60px;}


.main-cont-sec5 {
    max-width: 100%;
    width: 100%;}

.container-sec5 {
    width: 100%;
    height: 100%;
    padding: 125px 7.3%;}

.card-sec5-2{
    flex: 1 1 0; 
    min-width: 375px; 
    max-width: 100%; }

.card-sec5-1 {min-width: 0;
    flex: 1.4 1 0;}
.row-sec5-cards {
gap: 38px;flex-direction: column;
   
}

.row2-sec5-cards {
gap: 38px;
    flex-direction: column-reverse;
}
.container-sec5-cards {
    display: flex;
    flex-direction: column;
    gap: 38px;}



.main-cont-sec5 {
    gap: 74px;
}

.container-sec6 {
    width: 100%;
    height: 100%;
    padding: 199px 7.3% 125px 7.3%;}


.containermodel-1-sec6 {
        width: 104%;
        height: 122%;
    }

.container2-sec6 {
    max-width: 100%;    gap: 60px;}

.first-box-container {
    width: 100%;
    height: 421px;}

.first-box-sec6 {
    width: 100%;
    aspect-ratio: 32 / 9;}

.sec-box-sec6 {
    width: 100%;
    aspect-ratio: 31 / 10;}



.sec6 {

    border-radius: 82px;
}




.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 38px;
   
    flex-direction: column;}

.container2-sec7 {
    max-width: 100%;gap: 72px;
    width: 100%;}

.box3-sec7 {
    flex: 100;}
.box2-sec7 {
    flex: 100;}
.box1-sec7 {
    flex: 100;}

.container-sec7 {
    padding: 125px 7.3%;}


.pic2-sec7 {
    width: 100%;}

.pic1-sec7 {
    width: 100%;}

.container-footer {
    width: 100%;
    height: 100%;
    padding: 125px 7.3% 0;}


.big-nav-box-footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 74px;
    align-items: center;}

.list-footer {    gap: 28px;
    align-items: center}

.sub-list-footer {
    align-items: center;}


.model-sec3{width: 100%;position: relative;
    height: 100%;left: 0;}




    .model-one-p2 {
        width: 178%;
        position: absolute;
        right: -59%;
        height: auto;
        aspect-ratio: 1056 / 735;
    }

.containermodel-sec1-p2 {
    width: 139%;
    height: 119%;
    position: absolute;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: flex-end;
}

.left-box-sec1-p2 {
   bottom: 8%;        min-width: 256px;

    aspect-ratio: 465 / 606.009;
    height: auto;        top: auto;
}


.text-box-sec1-p2 {
        display: flex;
        margin-top: 195px;
        width: 100%;
          gap: 35px;
    }

.container-third-box-sec1-p2 {
    display: flex;
            width: fit-content;}


.header-sec1-p2 {
        font-family: Syncopate;
        font-size: clamp(42px, 9vw, 64px);
    
}

.main-info-sec1-p2 {
    width: 100%;
    height: 100%;
    padding: 0 7.3% 0 7.3%;}


.container-third-box-sec1-p2 {
    width: clamp(260px, 35vw, 347px);
    padding: clamp(20px, 2vw, 28px);
    gap: clamp(12px, 2vw, 20px);
    border-radius: clamp(14px, 2vw, 22.889px);
}



.price-sec1-p2 {
    font-size: clamp(28px, 3vw, 34px);
}

.cta-sec1-p2 {
    width: clamp(200px, 28vw, 251px);
    height: clamp(52px, 6vw, 54px);
}


.sec1-p2 {
    width: 100%;
    height: 100vh;
    min-height: 930px;}


.sec2-p2 {
    height: fit-content;
}


.container-sec2-p2 {
    width: 100%;
    height: 100%;
    padding: 72px 7.3%}


.container2-sec2-p2 {
    flex-direction: column;}

.box1-sec2-p2 {
    display: flex;
    flex-direction: column;
    width: 100%;}

.para-sec2-p2 {
    color: var(--white2);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    display: -webkit-box;
    display: box;
    display: flexbox;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.line-sec2 {
    width: 100%;
    height: 1px;
    background: var(--line-sec2-p2);
}


}



























/* normal screen screen */
@media (min-width: 900px ) and (max-width: 1280px) {

.navbar2 {
        gap: 4.3%;;}

.sec1 {background-image: url(pic/pic6.png);   min-height: 847px;}

.container-all-info-sec1 {
    max-width: 100%;
    width: 100%;}
.header-sec1 {
    font-size: clamp(85px, 9vw, 117px);
}
    .model-one {
        width: clamp(140%, 150vw, 200%);
        
    }


      .model-one {
     scale: 0.9 0.9 0.9;
     transform: translateX(-32%);
  }



.sec2{width: 100%;
    height: fit-content;
    background-image: url(pic/pic10.png);}





.small-text-sec2{color: var(--white);
font-family: Inter;
font-size: 18px;
font-weight: 500;
    display: -webkit-box;
    display: box;
    display: flexbox;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;}

.main-card-sec2{height: fit-content;}

.container2-sec2 {
    max-width: 100%;
    width: 100%;}

.container-model-sec3 {
    width: 82%;}

.container2-sec3 {
    max-width: 100%;
    width: 100%;}

.card-sec5-2{
    flex: 1 1 0; 
    min-width: 375px; 
    max-width: 100%; }

.card-sec5-1 {
    flex: 1.4 1 0;}

.main-cont-sec5 {
    max-width: 100%;
    width: 100%;}

.containermodel-1-sec6 {
    width: 94%;
    height: 109%;}

.container2-sec6 {
    max-width: 100%;}



.model-one-p2 {
        width: 159%;
        position: absolute;
        right: -45%;
        height: auto;
        aspect-ratio: 1056 / 735;
 
}

.containermodel-sec1-p2 {
    width: 139%;
    height: 119%;
    position: absolute;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: flex-end;
}

.left-box-sec1-p2 {
    bottom: 18%;
    aspect-ratio: 465 / 606.009;
    height: auto;        top: auto;
}


.text-box-sec1-p2 {
    display: flex;
    width: 58%;}

.container-third-box-sec1-p2 {
    display: flex;
            width: fit-content;}

.sec1-p2 {
    min-height: 900px;
}


}