
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --background1:#051114;
    --header:rgba(0, 0, 0, 0.74);
    --white:#FFF;
    --header-linescolor:rgba(255, 255, 255, 0.45);
    --border-box-sec:rgba(255, 255, 255, 0.10);
    --white2:rgba(255, 255, 255, 0.97);
    --cta:#C6DE41;
    --ctahover:#41DEC4;
    --darkblue:#0C2E37;
}
body {
    font-family: Inter;
    background-color: var(--background1);
    color: #ffffff;
    overflow-x: hidden;
    width: 100vw;
}

.mainn{width: 100vw;overflow: hidden;}

.headerr {
    background-color: var(--header);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 111111111111;
    width: 100vw;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 46px;
    height: 100px;   
    background-image: url(pic/pic1.png);
    width: 100%;
    background-size: cover;

}


.navbar2 {
    display: flex;
    list-style-type: none;

    justify-content: center;
    align-items: center;
    width: 100%;
     padding: 0 7.9%;
gap: 74px;}








.nav-link {
    text-decoration: none;
}
.nav-text {
  position: relative;
  color: var(--white);
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none; 
}


.nav-text::after {
  content: "";
  position: absolute;
  bottom: -2px; 
  right: 0;  
  width: 0;
  height: 2px;
  background-color: var(--white);
  transition: width 0.3s ease;
}


.nav-text:hover::after {
  width: 100%;
  left: 0;    
  right: auto;
}


.line-header{width: 1px;
height: 55.902px;
background-color: var(--header-linescolor);}


.burger-menu-cont{display: none;
list-style-type: none;position: relative;}

.burger-menu{width: 34px;position: relative;
cursor: pointer;}

.dropdown-burger-menu{
list-style-type: none;
    width: 254px;
    height: fit-content;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 65px;
    background-color: var(--header);
    background-image: url(pic/pic3.png);
    background-size: cover;
    padding: 35px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 22px;display: none;
}

.dropdown-burger-menu.show {
  display: flex;
}
.nav-linkbg {
    text-decoration: none;
}
.nav-textbg {
  position: relative;
  color: var(--white);
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none; 
}


.nav-textbg::after {
  content: "";
  position: absolute;
  bottom: -2px; 
  right: 0;  
  width: 0;
  height: 2px;
  background-color: var(--white);
  transition: width 0.3s ease;
}


.nav-textbg:hover::after {
  width: 100%;
  left: 0;    
  right: auto;
}


.line-headerbg{width: 100%;
height: 1px;
background-color: var(--header-linescolor);}


.sec1{width: 100%;height: 100vh;
    background-size: cover;
background-image: url(pic/pic4.png);
    }

.main-info-sec1{
    width: 100%;
    height: 100%;
    padding: 0 7.9% 0 7.9%;
    display: flex;
    justify-content: center;
    position: relative;
}

.container-all-info-sec1{
        max-width: 1280px;
    width: 100%;
        position: relative;display: flex;
    justify-content: center;
}





.header-sec1{
font-family: Syncopate;
font-size: 117.131px;
font-style: normal;
font-weight: 700;
line-height: normal;
background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.69) 36.06%, #4D5154 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
position: absolute;
align-self: center;
    top: 200px;}

.big-cont-sec1{display: flex;
flex-direction: row;
width: 100%;height: 100%;
justify-content: space-between;
padding-top: 214px;}


.right-box-sec1{position: relative;
    width: 70%;}


.container-model-one-sec1{width: 60%;
height: 100%;
    width: 100%;    transform: translatey(-8%);
    height: 100%;}


.model-one {
    width: 171%;
    height: 100%;
     transform: translateX(-24%);
}

/* .model-one::part( default-progress-bar ){
    display: none;

} */


.text-box-sec1{display: flex;
width: 353px;position: absolute;bottom: 72px;
height: 161px;
padding: 1px;
flex-direction: column;
border-radius: 25px;
border: 1px solid var(--border-box-sec);
background: linear-gradient(to bottom right, #071C21 0%, rgba(21, 59, 68, 0.43) 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, #071C21 0%, rgba(21, 59, 68, 0.43) 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, #071C21 0%, rgba(21, 59, 68, 0.43) 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, #071C21 0%, rgba(21, 59, 68, 0.43) 50%) top right / 50% 50% no-repeat;
padding: 0 23px 0 23px;
display: flex;
    justify-content:center;
    align-items: center;}


.main-text-box-sec1{width: 100%;
height: fit-content;
display: flex;
flex-direction: column;
gap: 30px;
justify-content: flex-start;
align-items: center;}


.title1-sec1{color: var(--white);
font-family: Inter;
font-size: 28px;height: 28px;
font-weight: 800;}


.sub-box-sec1{display: flex;
flex-direction: row;
gap: 30px;}


.numb-plus-text-sec1{
    display: flex;
    flex-direction: row;
    gap: 15px;
}


.numbs-sec1{color: var(--white2);
font-family: Inter;
font-size: 24px;
font-weight: 700;
line-height: normal;}


.small-titles-sec1{color: var(--white2);
font-family: Inter;
font-size: 18px;
font-weight: 400;;}

.rect-box-sec1{width: 1px;
height: 33.923px;
background: var(--white2);}


.left-box-sec1{align-self: flex-end;
display: flex;
flex-direction: column;
gap: 95px;padding-bottom: 72px;
}



.cont-left-sec1{display: flex;
    flex-direction: column;
    gap: 45px;
}

.small-boxes-left-sec1{display: flex;
flex-direction: column;
gap: 10px;}

.small-title-left-sec1{color: var(--white);
text-align: right;
font-family: Inter;
font-size: 18px;
font-weight: 400;}

.big-numbers-left-sec1{color: var(--white);
text-align: right;
font-family: Inter;
font-size: 24px;
font-weight: 700;}

.cta-sec1{display: inline-flex;
height: 54px;
justify-content: center;
align-items: center;
gap: 10px;
padding: 0 28px;
border-radius: 16px;
background: var(--cta);
transition: all 300ms linear;}

.cta-sec1:hover{background-color: var(--ctahover);}




.link-cta{text-decoration: none;
display: inline-flex;
height: 100%;width: 100%;
justify-content: center;
align-items: center;
gap: 10px;}

.cta-text{color: var(--darkblue);
font-family: Syncopate;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;}








































/* Mobile screen */
@media(max-width: 501px) {
.burger-menu-cont{
    display: block;
}

.nav-text{display: none;}
.line-header{display: none;}
.navbar2 {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;}

.nav-link{display: none;}
.navbar2 {
     padding: 0 20px;}

}






/* Tablet screen */
@media (min-width: 501px) and (max-width: 900px) {

.burger-menu-cont{
    display: block;
}

.nav-text{display: none;}
.line-header{display: none;}
.navbar2 {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;}

.nav-link{display: none;}
.navbar2 {
     padding: 0 7.3%;}




}












/* normal screen screen */
@media (min-width: 900px ) and (max-width: 1280px) {

.navbar2 {
        gap: 4.3%;;}


}