
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --background1:#051114;
    --header:rgba(0, 0, 0, 0.74);
    --white:#FFF;
    --header-linescolor:rgba(255, 255, 255, 0.45);
}
body {
    font-family: Inter;
    background-color: var(--background1);
    color: #ffffff;
    overflow-x: hidden;
    width: 100vw;
}

.mainn{width: 100vw;overflow: hidden;}

.headerr {
    background-color: var(--header);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 111111111111;
    width: 100vw;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 46px;
    height: 100px;   
    background-image: url(pic/pic1.png);
    width: 100%;
    background-size: cover;

}


.navbar2 {
    display: flex;
    list-style-type: none;

    justify-content: center;
    align-items: center;
    width: 100%;
     padding: 0 7.9%;
gap: 74px;}








.nav-link {
    text-decoration: none;
}
.nav-text {
  position: relative;
  color: var(--white);
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none; 
}


.nav-text::after {
  content: "";
  position: absolute;
  bottom: -2px; 
  right: 0;  
  width: 0;
  height: 2px;
  background-color: var(--white);
  transition: width 0.3s ease;
}


.nav-text:hover::after {
  width: 100%;
  left: 0;    
  right: auto;
}


.line-header{width: 1px;
height: 55.902px;
background-color: var(--header-linescolor);}


.burger-menu-cont{display: none;
list-style-type: none;position: relative;}

.burger-menu{width: 34px;position: relative;
cursor: pointer;}

.dropdown-burger-menu{
list-style-type: none;
    width: 254px;
    height: fit-content;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 65px;
    background-color: var(--header);
    background-image: url(pic/pic3.png);
    background-size: cover;
    padding: 35px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 22px;display: none;
}

.dropdown-burger-menu.show {
  display: flex;
}
.nav-linkbg {
    text-decoration: none;
}
.nav-textbg {
  position: relative;
  color: var(--white);
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none; 
}


.nav-textbg::after {
  content: "";
  position: absolute;
  bottom: -2px; 
  right: 0;  
  width: 0;
  height: 2px;
  background-color: var(--white);
  transition: width 0.3s ease;
}


.nav-textbg:hover::after {
  width: 100%;
  left: 0;    
  right: auto;
}


.line-headerbg{width: 100%;
height: 1px;
background-color: var(--header-linescolor);}


.sec1{width: 100%;height: 100vh;
    background-size: cover;
background-image: url(pic/pic4.png);
    }

.main-info-sec1{
    width: 100%;
    height: 100%;
    padding: 0 7.9% 0 7.9%;
    display: flex;
    justify-content: center;
    position: relative;
}

.container-all-info-sec1{
        max-width: 1280px;
    width: 100%;
}





.header-sec1{
font-family: Syncopate;
font-size: 117.131px;
font-style: normal;
font-weight: 700;
line-height: normal;
background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.69) 36.06%, #4D5154 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
position: absolute;
align-self: center;
    top: 200px;}

.big-cont-sec1{display: flex;
flex-direction: row;
width: 100%;height: 100%;
padding-top: 214px;}


.right-box-sec1{position: relative;
    width: 70%;}


.container-model-one-sec1{width: 60%;
height: 100%;
    width: 100%;
    height: 100%;}


.model-one {
 width: 128%;
    height: 100%;
    transform: translateX(-20%);
}

/* .model-one::part( default-progress-bar ){
    display: none;

} */

























/* Mobile screen */
@media(max-width: 501px) {
.burger-menu-cont{
    display: block;
}

.nav-text{display: none;}
.line-header{display: none;}
.navbar2 {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;}

.nav-link{display: none;}
.navbar2 {
     padding: 0 20px;}

}






/* Tablet screen */
@media (min-width: 501px) and (max-width: 900px) {

.burger-menu-cont{
    display: block;
}

.nav-text{display: none;}
.line-header{display: none;}
.navbar2 {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;}

.nav-link{display: none;}
.navbar2 {
     padding: 0 7.3%;}




}












/* normal screen screen */
@media (min-width: 900px ) and (max-width: 1280px) {

.navbar2 {
        gap: 4.3%;;}


}